.login-forget-password {
  margin: auto auto;
}
.login-buttons {
  margin: auto auto;
  font-weight: bold;
  color: rgb(4, 81, 105);
}

.login-forget-password:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-buttons:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-two-buttons {
  display: flex;
  justify-items: space-between;
}

.login-spinner {
  display: flex;
  justify-items: space-between;
}
